<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>django cookie demo - logged in</title>
  </head>
  <body>
    <div
      class="container justify-content-center mt-5"
      style="width: fit-content"
    >
      {% if username %}
      <h4>You are logged in as {{username}}</h4>
      <h4>Login Status: {{login_status}}</h4>
      <a href="{% url 'logout' %}">logout</a>
      {% else %}
      <h4>You are not logged in</h4>
      <a href="{% url 'login' %}">login</a>
      {% endif %}
      <a href="{% url 'home' %}">home</a>
    </div>
  </body>
</html>